body {
    background-color: #014b6f;
}

.jumbotron img {
    height: 400px;
    width: 500px;
}

.jumbotron {
    background-color: white;
    border-color: #e53935;
    border-width: 3px;
    padding: 0, 0;
    height: 500px;
    width: 600px;
}
